<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Acheezements</title>
  </head>

  <body>
    <h1>Acheezements</h1>
    <h2>Today's Goals</h2>
    <form>
      <ul>
        <% for(var i = 0; i < goals.length; i++){ %>
          <li>
            <%= goals[i].cheese.goal1.goal %>
            <!-- <% if(goals[i].cheese.goal1.complete) { %>
              <input id="checkbox<%= i + 1 %>" type="checkbox" name="check" value="<%= goals[i] %>" checked="checked" required/>
            <% } else { %>
              <input id="checkbox<%= i + 1 %>" type="checkbox" name="check" value="<%= goals[i] %>" required/>
            <% } %> -->
          </li>
          <li>
            <%= goals[i].cheese.goal2.goal %>
            <!-- <% if(goals[i].cheese.goal2.complete) { %>
              <input id="checkbox<%= i + 1 %>" type="checkbox" name="check" value="<%= goals[i] %>" checked="checked" required/>
            <% } else { %>
              <input id="checkbox<%= i + 1 %>" type="checkbox" name="check" value="<%= goals[i] %>" required/>
            <% } %> -->
          </li>
          <li>
            <%= goals[i].cheese.goal3.goal %>
            <!-- <% if(goals[i].cheese.goal3.complete) { %>
              <input id="checkbox<%= i + 1 %>" type="checkbox" name="check" value="<%= goals[i] %>" checked="checked" required/>
            <% } else { %>
              <input id="checkbox<%= i + 1 %>" type="checkbox" name="check" value="<%= goals[i] %>" required/>
            <% } %> -->
          </li>
          <li>
            <%= goals[i].cheese.goal4.goal %>
            <!-- <% if(goals[i].cheese.goal4.complete) { %>
              <input id="checkbox<%= i + 1 %>" type="checkbox" name="check" value="<%= goals[i] %>" checked="checked" required/>
            <% } else { %>
              <input id="checkbox<%= i + 1 %>" type="checkbox" name="check" value="<%= goals[i] %>" required/>
            <% } %> -->
          </li>
        <% } %>
      </ul>
    </form>
    <div id="success" style="display:none">
      <h1>Success!</h1>
    </div>
    <script type="text/javascript" src="../src/interface.js"></script>
  </body>
</html>
