<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Acheezable</title>
  </head>
  <body>
    <h1>Acheezable</h1>

    <form action="/" method="post">
      <% for (var i = 0; i < 4; i ++) { %>
        <div class="dropdown-goals">
          <label id="labelGoal<%= i + 1 %>" for="goal<%= i + 1 %>">Acheezement <%= i + 1 %>
          </label>
          <input id="inputGoal<%= i + 1 %>" type="text" name="goal<%= i + 1 %>" placeholder="enter your goal" required>
        </div>
      <% } %>

<!-- 
      <div class="dropdown-goals">
        <label id="labelGoalTwo" for="goalTwo">Acheezement 2
        </label>
        <input id="inputGoalTwo" type="text" name="goalTwo" placeholder="enter your goal" required>
      </div>

      <div class="dropdown-goals">
        <label id="labelGoalThree" for="goalThree">Acheezement 3
        </label>
        <input id="inputGoalThree" type="text" name="goalThree" placeholder="enter your goal" required>
      </div>

      <div class="dropdown-goals">
        <label id="labelGoalFour" for="goalFour">Acheezement 4
        </label>
        <input id="inputGoalFour" type="text" name="goalFour" placeholder="enter your goal" required>
      </div> -->

      <div>
          <button id="submitGoals" type="submit" name="submit">Set Goals</button>
      </div>
    </form>

  </body>
</html>
