<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </script>
    <link type="text/css" rel="stylesheet" href="../../css/styles.css">
    <meta charset="utf-8">
    <title>Acheezements</title>
    <link href="https://fonts.googleapis.com/css?family=Jua|Pacifico" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <h1>Today's Acheezements</h1>
    <form action="/update" method="post">
      <% let count = 0 %>
      <ul>
        <% for(var i = 0; i < goals.length; i++){ %>
          <li>
            <% if(goals[i].completed) { %>
              <% count += 1 %>
              <div class="complete form-element" id="goal<%= i + 1 %>">
                <%= goals[i].text %>
              <button type="submit" name="id" value="<%=goals[i]._id%>"><i class="fa fa-check"></i></button>
              </div>
            <% } else { %>
              <div class="incomplete form-element" id="goal<%= i + 1 %>">
                  <a href="/acheezements/<%= goals[i]._id %>/edit" class="edit-button">
                    <i class="fa fa-pencil"></i>
                  </a>
                <%= goals[i].text %>
              <button type="submit" name="id" value="<%=goals[i]._id%>">Mark as complete</button>
            </div>
            <% } %>
          </li>
        <% } %>
      </ul>
    </form>
    <% let percent = 0;
       percent = goals.length ? Math.floor((count / goals.length) * 100) : 0;
       let tweetUrl = 'https://twitter.com/intent/tweet?hashtags=acheezable&text=';
       let tweetText = 'I completed all my Acheezements today and I feel awesome!'%>
    <h1>Completed: <%= percent %> % </h1>
    <div id="success" style="display:none">
      <button class="btn">
        <div id="tweet">
          <a href="<%= tweetUrl + tweetText %>" target="_blank">
            Tweet about your success!
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </button>
    </div>
    <div class="footer"></div>
    <a href="/logout" class="button">Logout</a>
    <script type="text/javascript" src="../src/acheezementsInterface.js"></script>
  </body>
</html>
