<% include presenter.ejs %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link type="text/css" rel="stylesheet" href="../../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Jua|Pacifico" rel="stylesheet">

    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../client/showPresenter.js"></script>

    <title>Cheezetory</title>
  </head>
  <body>
    <img src="../images/logo.png" >

    <a id="home" href="/">
      <img src="../images/home.png" align="left" width="100" height="100" >
    </a>
    <a id="logout" href="/logout">
      <img src="../images/sign-out.png" align="right" width="100" height="100" >
    </a>

    <h1>Cheezetory</h1>

    <% let completionArray = [];
    let goalsByDay = [];
    let weekdays = ['On Sunday', 'On Monday', 'On Tuesday', 'On Wednesday', 'On Thursday', 'On Friday', 'On Saturday']
    populateAndOrderArrays(weekdays, completionArray, goalsByDay, goals);
    weekdays[0] = 'Today';
    let streaks = [];
    let percentArr = [];
    populatePercentArr(percentArr, completionArray);
    populateStreaksArr(percentArr, streaks);
    for (var i = 0; i < weekdays.length; i++) { %>

    <ul>
      <li class="form-element"><%= weekdays[i] %> you <%= percentArr[i] %>
        <button class="days" value="<%= i %>">Show daily goals</button>
        <% if (goalsByDay[i] !== 0) { %>
          <div id="day<%= i %>" class="goals hide">
                <%= goalsByDay[i] %>
          </div>
        <% } %>
      </li>
    <% } %>
    </ul>

    <% streak = getCurrentStreak(streaks);
    if ( streak !== 0 && streak > 1 ) { %>
      <p>Current streak: <%= streak %> days of cheezy joy!</p>
      <% let streakCount = streak
        while (streakCount > 0) { %>
          <img src="../images/cheese.png" width="100" height="100">
        <%  streakCount --
      }
    } %>
    <script type="text/javascript" src="../src/cheezetoryInterface.js"></script>
  </body>
</html>
